html {
  font-size: 16px;
  width: 100%;
  background-color: #545454;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
/* header */

header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: whitesmoke;
  z-index: 1;
  display: inline-flex;
  justify-content: space-between;
}


nav ul {
  display: inline-flex;
  list-style-type: none;
}

nav li {
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

.toggle {
  display: inline-flex;
  margin-right: 5px;
}

.bulb-container {
  margin: 11px 0px 0px 0px;
}

.bulb-container a:hover {
  cursor: pointer;
}

#theme:hover {
  cursor: pointer;
}

/* media queries for header */

@media only screen and (max-width: 500px) {
  nav li {
    font-size: 14px;
    padding: 0 5px;
    font-weight: bold;
  }
}

/* main */

main {
  margin-top: 100px;
  color: white;
}

/* About Me */

#about-me {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 0 auto;
}

#about-me p {
  font-size: 1.2rem;
}

#contact-button {
  color: white;
}

/* Skills section */

#skills {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#skills img {
  height: 50px;
  width: 50px;
  margin:0px 20px;
}

#skills img:hover {
  height: 60px;
  width: 60px;
}

#skills p {
  visibility: hidden;
}


/* portfolio section */

.portfolio-title {
  margin: 40px 0px;
}

#portfolio {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  margin-bottom: 50px;
}

.port-item {
  background-color: white;
  padding: 30px 15px;
}


#portfolio img {
  height: 300px;
  width: 300px;
  padding: 0px 30px;
}

.port-item h3 {
  color: black;
}

.port-item p {
  max-width: 250px;
  color: black;
  padding-left: 50px;
}

.port-item a {
  color: white;
}

.port-text a h3{
  text-decoration: underline;
}

/* contact section */

.contact-form {
  display: flex;
  justify-content: center;
}

.contact-form input {
  margin: 10px;
}

/* footer */

footer {
  position: relative;
  bottom: 0px;
  height: 50px;
  border: 1px solid black;
  width: 100%;
  background-color: white;
}

footer a{
    text-decoration: none;
    color: black;
}